@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.head {
    font-size: 25px;
    background-color: #95ADB6;
    display: flex;
    height: 10vh;
    border-bottom: 1px solid grey;
    color: #1F2232;
    align-items: center;
    justify-content: space-around;
}

.body {
    background-color: #F0F8FF;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}

.description {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60vh;
    gap: 10px;
}

.instruction,
.history {
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 161, 185, 0.6);
    border-radius: 25px;
    text-align: center;
    border: 1px solid grey;
}

.instruction {
    align-items: center;
    justify-content: center;
}

.history {
    flex: 0 0 60%;
    gap: 5px;
}

.history > h3 {
    margin: 5px;
}

.history > div {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    border-bottom: 3px dotted grey;
}

.calculator_div {
    background-color: black;
    display: flex;
    height: 600px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.calculator_div * {
    border-radius: 25px;
}

.calculator_body {
    background-color: #8DA1B9;
    height: 97%;
    width: 97%;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
    background-color: #E1F2FE;
    /* height: 30%; */
    margin: 10px;
    /* border-radius: 20px; */
    flex: 4 0 0;
    max-height: 162px;
    max-width: 388px;
    align-items: flex-end;
    justify-content: right;
    box-sizing: border-box;
    /* gap: 10px; */
}

.screen > div {
    overflow: auto;
    margin: 10px;
    font-size: 50px;
    color: #49392C;
    box-sizing: border-box;
}

.pad {
    flex-grow: 8;
    padding: 10px;
    display: flex;
    gap: 5px;
}

.num_pad {
    flex-grow: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.num_pad > button {
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1F2FE;
    color: #49392C;
    box-sizing: border-box;
    font-size: 20px;
    /* border-radius: 15px; */
}

.function_pad {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

.function_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 8;
    flex-direction: row;
    gap: 7px;
}

.function_buttons > button,
.equal_button {
    background-color: #E1F2FE;
}

.function_buttons > button {
    flex: 1 1 30%;
    min-width: 5px;
    /* border-radius: 10px; */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    /* margin: 3px; */
    overflow: hidden;
    /* max-width: 73px;
    max-height: 145px; */
}

.pad .button {
    border: none;
    box-shadow: 0 5px grey;
}

.pad .button:active {
    background-color: grey;
    box-shadow: 0 2px grey;
    transform: translateY(4px);
}

#del {
    background-color: #FA8072;
}


#equal {
    background-color: #E1F2FE;
    /* border-radius: 10px; */
}

#del {
    font-size: 15px;
    flex-grow: 1;
    margin-bottom: 5px;
}

#equal {
    font-size: 25px;
    flex-grow: 2.5;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcButton {
    background-color: grey;
}

.footer {
    background-color: #95ADB6;
    display: flex;
    height: 10vh;
    border-top: 1px solid grey;
    font-size: 23px;
    background-color: #95ADB6;
    justify-content: center;
    align-items: center;
}

.link-pic {
    width: 25px;
    height: 25px;
}