body {
    margin: 0px
}

.head {
    background-color: grey;
    display: flex;
    height: 15vh;
}

.body {
    background-color: beige;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.calculator_div {
    background-color: black;
    display: flex;
    height: 600px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
}

.calculator_body {
    background-color: grey;
    height: 97%;
    width: 97%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.screen {
    background-color: beige;
    /* height: 30%; */
    margin: 10px;
    border-radius: 20px;
    flex-grow: 4;
}

.pad {
    flex-grow: 8;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
}

.num_pad,
.function_pad {

}

.num_pad {
    flex-grow: 2;
}

.function_pad {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.function_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 8;
    flex-direction: row;
    box-sizing: border-box;
}

.function_buttons > div,
.equal_button {
    background-color: beige;
    box-sizing: border-box;
}

.function_buttons > div {
    flex: 1 1 30%;
    min-width: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 3px;
    overflow: hidden;
    /* max-width: 73px;
    max-height: 145px; */
    box-sizing: border-box;
}

.equal_button {
    flex-grow: 2;
    border-radius: 10px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.calcButton {
    background-color: grey;
}

.footer {
    background-color: grey;
    display: flex;
    height: 5vh;
}